<div class="smart-suggestions" [class.hidden-suggestions]="nlpQuery()">
  <h3 class="text-white text-sm uppercase font-bold tracking-wider mb-6">Need inspiration?</h3>

  @if(smartSuggestions) {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      @for (smartSuggestion of smartSuggestions; track smartSuggestion.text){
        <button
          (click)="selectSuggestion.emit(smartSuggestion.value)"
          class="suggestion-card"
        >
          <span class="suggestion-icon">{{ smartSuggestion.icon }}</span>
          <span class="suggestion-text">{{ smartSuggestion.text }}</span>
        </button>
      }
    </div>
  }

</div>
