.hero-section {
  .hero-content {
    padding-bottom: 2rem;

    .tab-content-wrapper {
      width: 100%;
      min-height: 200px; /* Ensure there is space for transition */
    }
  }
}

.lg\:col-span-5 {
  @media (min-width: 1024px) {
    grid-column: span 5 / span 5;
  }
}

.lg\:col-span-7 {
  @media (min-width: 1024px) {
    grid-column: span 7 / span 7;
  }
}

.leading-normal {
  line-height: 1.5;
}

